doctype html
html(data-ng-app="myCrawler" data-ng-csp="")

  include includes/head

  body(ng-controller="CrawlerController as crawl")
    header
    section
      .container
        .row.mtop
          .col-xs-12.col-md-6.col-md-offset-3
            .input-group
              span.input-group-btn
                button(type="button",disabled)#protocol.btn.btn-default.dropdown-toggle {{crawl.website.protocol}}
                button(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle
                  span.caret
                  span.sr-only Toggle Dropdown
                ul(role="menu").dropdown-menu
                  li
                    a(ng-click="SelectProtocol('http://')").protocol-select http://
                  li
                    a(ng-click="SelectProtocol('https://')").protocol-select https://
              input(type="text",placeholder="www.example.com",ng-model="crawl.website.hostname",ng-keyup="CheckUrl()").form-control
              span.input-group-btn
                button(type="button",ng-disabled="crawl.website.invalidurl",ng-class="{'disabled': crawl.website.invalidurl}",ng-click="DoCrawl()").btn.btn-default.btn-primary Analizar
        .row.mtop(ng-show="ShowRobots()")
          .col-xs-12
            p {{crawl.website.robotsurl}}
        .row(ng-show="ShowRobots()")
          .col-xs-12
            pre
              span(ng-repeat="value in crawl.website.robotstxt track by $index",ng-class="CodeComment(value)").nomar {{value}}
                span(ng-show=" ! $last ")
                  br

    footer
    
    script(src="../resources/js/vendor/jquery.min.js")
    script(src="../resources/js/vendor/bootstrap.min.js")
    script(src="../resources/js/vendor/angular.min.js")
    script(src="../resources/js/vendor/angular-route.min.js")
    script(src="../resources/js/app.js")