doctype html
html(data-ng-app="myCrawler" data-ng-csp="")

  include includes/head

  body(ng-controller="CrawlerController as crawl")
    header
    section
      .container
        #header
          .row.mtop
            .col-xs-12
              ul.nav.nav-tabs.nav-justified(role="tablist")
                li#home.active
                  a(show-tab) Home
                li#robots(ng-class="{true:'', false:'disabled'}[ShowRobots()]")
                  a(show-tab) Robots
                li#sitemap(ng-class="{true:'', false:'disabled'}[ShowSitemaps()]")
                  a(show-tab) Sitemap
                li#pages(ng-class="{true:'', false:'disabled'}[ShowPages()]")
                  a(show-tab) Pages
                li#images(ng-class="{true:'', false:'disabled'}[ShowImages()]")
                  a(show-tab) Images
                li#links.disabled(ng-class="{true:'', false:'disabled'}[ShowLinks()]")
                  a(show-tab) Links
        #hometab.navtabs(style="display:block")
          .row.mtop
            .col-xs-12.col-md-6.col-md-offset-3
              .input-group
                span.input-group-btn
                  button(type="button",disabled)#protocol.btn.btn-default.dropdown-toggle {{crawl.website.protocol}}
                  button(type="button",data-toggle="dropdown").btn.btn-default.dropdown-toggle
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul(role="menu").dropdown-menu
                    li
                      a(ng-click="SelectProtocol('http://')").protocol-select http://
                    li
                      a(ng-click="SelectProtocol('https://')").protocol-select https://
                input(type="text",placeholder="www.example.com",ng-model="crawl.website.hostname",ng-keyup="CheckUrl()").form-control
                span.input-group-btn
                  button(type="button",ng-disabled="crawl.website.invalidurl",ng-class="{'disabled': crawl.website.invalidurl}",ng-click="DoCrawl()").btn.btn-default.btn-primary Analizar      
          .row.mtop
            .col-xs-12.col-md-6.col-md-offset-3
              p
                a(href="{{crawl.website.robotsurl}}",target="_blank") {{crawl.website.robotsurl}}
          .row.mtop
            .col-xs-12.col-md-6.col-md-offset-3
              p
                span(ng-repeat="value in crawl.website.sitemaps track by $index").nomar
                  a(href="{{value}}",target="_blank") {{value}}
                  span(ng-show=" ! $last ")
                    br
        #robotstab.navtabs
          .row.mtop(ng-if="ShowRobots()")
            .col-xs-12
              p
                a(href="{{crawl.website.robotsurl}}",target="_blank") {{crawl.website.robotsurl}}
          .row(ng-if="ShowRobots()")
            .col-xs-12
              pre
                span(ng-repeat="value in crawl.website.robotstxt track by $index",ng-class="CodeComment(value)").nomar {{value}}
                  span(ng-show=" ! $last ")
                    br
        #sitemaptab.navtabs
          .row.mtop(ng-if="ShowSitemaps()")
            .col-xs-12
              p
                span(ng-repeat="value in crawl.website.sitemaps track by $index").nomar
                  a(href="{{value}}",target="_blank") {{value}}
                  span(ng-show=" ! $last ")
                    br
          .row(ng-if="ShowSitemaps()")
            .col-xs-12
              pre
                span(ng-repeat="value in crawl.website.mapurls track by $index").nomar {{value}}
                  span(ng-show=" ! $last ")
                    br
        #pagestab.navtabs
          .row.mtop(ng-if="ShowPages()")
            .col-xs-12.pagesunit(ng-repeat="value in crawl.website.pages track by $index")
              .row
                .col-xs-12.col-md-6
                  .serpdata
                    a.serptit(ng-hide="value.title.length > 70",href="{{value.url}}",target="_blank") {{value.displaytitle}}
                    a.serptit(ng-show="value.title.length > 70",href="{{value.url}}",target="_blank",title="{{value.title}}") {{value.displaytitle}}
                    br
                    span.serpurl {{value.displayurl}}       
                    br
                    span.serpdesc(ng-hide="value.metadescription.length > 155") {{value.displaydescription}}               
                    span.serpdesc(ng-show="value.metadescription.length > 155",title="{{value.metadescription}}") {{value.displaydescription}}               
                    br
                  br
              .row
                .col-xs-12.col-lg-6
                  .row
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.tscore")
                      b Title:
                    .col-xs-8.col-md-10.col-lg-9
                      p 
                        span(ng-show="value.title !== false") {{value.title.length}} characters
                        br(ng-show="value.titlemessage !== false && value.title !== false")
                        span.errormessage(ng-show="value.titlemessage !== false") {{value.titlemessage}}
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.dscore")
                      b Description:
                    .col-xs-8.col-md-10.col-lg-9
                      p 
                        span(ng-show="value.metadescription !== false") {{value.metadescription.length}} characters
                        br(ng-show="value.descriptionmessage !== false && value.metadescription !== false")
                        span.errormessage(ng-show="value.descriptionmessage !== false") {{value.descriptionmessage}}
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.dcscore")
                      b Desc. Count:         
                    .col-xs-8.col-md-10.col-lg-9
                      p {{value.descriptioncount}}   
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.cscore")
                      b Canonical:          
                    .col-xs-8.col-md-10.col-lg-9
                      p 
                        span(ng-show="value.canonical !== false")
                          a(href="{{value.canonical}}",target="_blank") {{value.canonical}}
                        br(ng-show="value.canonicalmessage !== false && value.canonical !== false")
                        span.errormessage(ng-show="value.canonicalmessage !== false") {{value.canonicalmessage}}
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.ascore")
                      b Author:         
                    .col-xs-8.col-md-10.col-lg-9
                      p 
                        span(ng-show="value.author !== false")
                          a(href="https://plus.google.com/{{value.author}}",target="_blank") {{value.author}}
                        span.errormessage(ng-show="value.authormessage !== false") {{value.authormessage}}  
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.pscore")
                      b Publisher:         
                    .col-xs-8.col-md-10.col-lg-9
                      p 
                        span(ng-show="value.publisher !== false")
                          a(href="https://plus.google.com/{{value.publisher}}",target="_blank") {{value.publisher}}
                        span.errormessage(ng-show="value.publishermessage !== false") {{value.publishermessage}}     
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.escore")
                      b Encoding:         
                    .col-xs-8.col-md-10.col-lg-9
                      p {{value.encoding}}          
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.lscore")
                      b Language:         
                    .col-xs-8.col-md-10.col-lg-9
                      p {{value.language}}    
                .col-xs-12.col-lg-6
                  .row
                    .col-xs-4.col-md-2.col-lg-3.listit(ng-class="value.hscore")
                      b H1:         
                    .col-xs-8.col-md-10.col-lg-9
                      p
                        span(ng-show="!value.headers.h1.length") -
                        span(ng-repeat="value in value.headers.h1 track by $index") {{value}}
                          br(ng-show=" ! $last ")
                    .col-xs-4.col-md-2.col-lg-3.listit
                      b H2:         
                    .col-xs-8.col-md-10.col-lg-9
                      p
                        span(ng-show="!value.headers.h2.length") -
                        span(ng-repeat="value in value.headers.h2 track by $index") {{value}}
                          br(ng-show=" ! $last ")
                    .col-xs-4.col-md-2.col-lg-3.listit
                      b H3, H4 & H5:         
                    .col-xs-8.col-md-10.col-lg-9
                      p
                        span(ng-show="!value.headers.h345.length") -
                        span(ng-repeat="value in value.headers.h345 track by $index") {{value}}
                          br(ng-show=" ! $last ")
        #imagestab.navtabs
          .row.mtop(ng-if="ShowImages()")
            .col-xs-12
              .row.titlerow
                .col-xs-12.col-md-3
                  span Filename
                .col-xs-12.col-md-3
                  span Title
                .col-xs-12.col-md-3
                  span Alt
                .col-xs-12.col-md-3
                  span URL
              .row.crawlrow(ng-repeat="value in crawl.website.images track by $index",ng-class="value.score")
                .col-xs-12.col-md-3.crawl-line.crawl-link
                  a(href="{{value.src}}",title="{{value.src}}",target="_blank") {{value.filename}}
                .col-xs-12.col-md-3.crawl-line
                  span(title="{{value.title}}") {{value.title}}
                .col-xs-12.col-md-3.crawl-line
                  span(title="{{value.alt}}") {{value.alt}}
                .col-xs-12.col-md-3.crawl-line.crawl-link
                  a(href="{{value.url}}",title="{{value.url}}",target="_blank") {{value.displayurl}}
        #linkstab.navtabs
          .row.mtop(ng-if="ShowExternal()")
            .col-xs-12
              pre
                span(ng-repeat="value in crawl.website.external track by $index").nomar {{value}}
                  span(ng-show=" ! $last ")
                    br
          .row.mtop(ng-if="ShowInternal()")
            .col-xs-12
              pre
                span(ng-repeat="value in crawl.website.internal track by $index").nomar {{value}}
                  span(ng-show=" ! $last ")
                    br
    footer
    
    script(src="../resources/js/vendor/jquery.min.js")
    script(src="../resources/js/vendor/bootstrap.min.js")
    script(src="../resources/js/vendor/angular.min.js")
    script(src="../resources/js/vendor/angular-route.min.js")
    script(src="../resources/js/app.js")