@import "variables";
// @import "mixins";

/* TESTING CUSTOM STYLES */
body{
	font-family: $roboto;
	font-weight: $normal;
}

b, strong{
    font-weight: $bold;
}

button{
    height:34px;
}

.container{
    color:#333;
}

.mtop{
    margin-top: 30px;
}

.protocol-select{
    cursor: pointer;
}

#protocol{
    min-width: 75px;
    text-align: left;
}

.nomar{
    margin:0;
}

.ng-hide{
    display:none;
}

.codecomment{
    color: green;
}