@import "variables";
// @import "mixins";

/* TESTING CUSTOM STYLES */
body{
	font-family: $roboto;
	font-weight: $normal;
}

b, strong{
    font-weight: $bold;
}

span.input-group-btn button.btn-default{
    height:34px;
}

.container{
    color:#333;
}

.mtop{
    margin-top: 30px;
}