@import "variables";
// @import "mixins";

/* TESTING CUSTOM STYLES */
body{
	font-family: $roboto;
	font-weight: $normal;
}

b, strong{
    font-weight: $bold;
}

button{
    height:34px;
}

.container{
    color:#333;
}

.mtop{
    margin-top: 30px;
}

.protocol-select{
    cursor: pointer;
}

#protocol{
    min-width: 75px;
    text-align: left;
}

.nomar{
    margin:0;
}

.ng-hide{
    display:none;
}

.codecomment{
    color: green;
}

ul.nav-tabs{
    li{
        cursor:pointer;
    }
}

.navtabs{
    display: none;
}

.pagesunit{
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom: 1px dotted #ccc;
}

.serpdata{
    max-width: 512px;
    font-family: arial, sans-serif;
}

.serptit{
    color: #1a0dab;
    font-size:18px;
    line-height: 1.2;
}

.serptit:hover{
    color: #1a0dab;
}

.serpurl{
    color: #006621;
}

.serpdesc{
    color: #545454;
}

.errormessage{
    color:#FF6666;
}

.listit{
    padding-left:36px;
    background-repeat: no-repeat;
    background-position: 16px 4px;
    &.pass{
        background-image: url("../img/ok-icon.png");    
    }
    &.error{
        background-image: url("../img/no-icon.png");    
    }
    &.warning{
        background-image: url("../img/no-icon.png");    
    }
}

.crawl-line{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis; 
}

.crawl-link{
    color: #428bca;
}

.titlerow{
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}

.crawlrow{
    border-bottom: 1px dotted #ccc;
    padding: 3px 0;
    &.pass{
        // background-color: #baffba;  
    }
    &.error{
        background-color: #ffbbbb;  
    }
    &.warning{
        background-color: #ffddbb;  
    }
}