<!DOCTYPE html>
<html data-ng-app="myCrawler" data-ng-csp="">
  <head>
    <meta charset="utf-8">
    <title>Angular Chrome App Template</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body ng-controller="CrawlerController as crawl">
    <header></header>
    <section>
      <div class="container">
        <div class="row mtop">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="input-group"><span class="input-group-btn">
                <button type="button" disabled id="protocol" class="btn btn-default dropdown-toggle">{{crawl.website.protocol}}</button>
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                <ul role="menu" class="dropdown-menu">
                  <li><a ng-click="SelectProtocol('http://')" class="protocol-select">http://</a></li>
                  <li><a ng-click="SelectProtocol('https://')" class="protocol-select">https://</a></li>
                </ul></span>
              <input type="text" placeholder="www.example.com" ng-model="crawl.website.hostname" ng-keyup="CheckUrl()" class="form-control"><span class="input-group-btn">
                <button type="button" ng-disabled="crawl.website.invalidurl" ng-class="{'disabled': crawl.website.invalidurl}" ng-click="DoCrawl()" class="btn btn-default btn-primary">Analizar</button></span>
            </div>
          </div>
        </div>
        <div ng-show="ShowRobots()" class="row mtop">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p>{{crawl.website.robotsurl}}</p>
          </div>
        </div>
        <div ng-show="ShowRobots()" class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <pre><span ng-repeat="value in crawl.website.robotstxt track by $index" ng-class="CodeComment(value)" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></pre>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="../resources/js/vendor/jquery.min.js"></script>
    <script src="../resources/js/vendor/bootstrap.min.js"></script>
    <script src="../resources/js/vendor/angular.min.js"></script>
    <script src="../resources/js/vendor/angular-route.min.js"></script>
    <script src="../resources/js/app.js"></script>
  </body>
</html>