<!DOCTYPE html>
<html data-ng-app="myCrawler" data-ng-csp="">
  <head>
    <meta charset="utf-8">
    <title>MetricSpot SEO Crawler</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body ng-controller="CrawlerController as crawl">
    <header></header>
    <section>
      <div class="container">
        <div id="header">
          <div class="row mtop">
            <div class="col-xs-12">
              <ul role="tablist" class="nav nav-tabs nav-justified">
                <li id="home" class="active"><a show-tab>Home</a></li>
                <li id="robotsandsitemap" ng-class="{true:'', false:'disabled'}[ShowRandS()]"><a show-tab>Robots & Sitemap</a></li>
                <li id="pages" ng-class="{true:'', false:'disabled'}[ShowPages()]"><a show-tab>Pages</a></li>
                <li id="images" ng-class="{true:'', false:'disabled'}[ShowImages()]"><a show-tab>Images</a></li>
                <li id="extlinks" ng-class="{true:'', false:'disabled'}[ShowExternal()]" class="disabled"><a show-tab>Ext. Links</a></li>
                <li id="intlinks" ng-class="{true:'', false:'disabled'}[ShowInternal()]" class="disabled"><a show-tab>Int. Links</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="hometab" style="display:block" class="navtabs">
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div class="input-group"><span class="input-group-btn">
                  <button type="button" disabled id="protocol" class="btn btn-default dropdown-toggle">{{crawl.website.protocol}}</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="SelectProtocol('http://')" class="protocol-select">http://</a></li>
                    <li><a ng-click="SelectProtocol('https://')" class="protocol-select">https://</a></li>
                  </ul></span>
                <input type="text" placeholder="www.example.com" ng-model="crawl.website.hostname" ng-keyup="CheckUrl()" class="form-control"><span class="input-group-btn">
                  <button type="button" ng-disabled="crawl.website.invalidurl" ng-class="{'disabled': crawl.website.invalidurl}" ng-click="DoCrawl()" class="btn btn-default btn-primary">Analizar      </button></span>
              </div>
            </div>
          </div>
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <p><a href="{{crawl.website.robotsurl}}" target="_blank">{{crawl.website.robotsurl}}</a></p>
            </div>
          </div>
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <p><span ng-repeat="value in crawl.website.sitemaps track by $index" class="nomar"><a href="{{value}}" target="_blank">{{value}}</a><span ng-show=" ! $last "><br></span></span></p>
            </div>
          </div>
        </div>
        <div id="robotsandsitemaptab" class="navtabs">
          <div ng-if="ShowRobots()" class="row mtop">
            <div class="col-xs-12">
              <p><a href="{{crawl.website.robotsurl}}" target="_blank">{{crawl.website.robotsurl}}</a></p>
            </div>
          </div>
          <div ng-if="ShowRobots()" class="row">
            <div class="col-xs-12">
              <pre><span ng-repeat="value in crawl.website.robotstxt track by $index" ng-class="CodeComment(value)" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></pre>
            </div>
          </div>
          <div ng-if="ShowSitemaps()" class="row mtop">
            <div class="col-xs-12">
              <p><span ng-repeat="value in crawl.website.sitemaps track by $index" class="nomar"><a href="{{value}}" target="_blank">{{value}}</a><span ng-show=" ! $last "><br></span></span></p>
            </div>
          </div>
          <div ng-if="ShowSitemaps()" class="row">
            <div class="col-xs-12">
              <pre><span ng-repeat="value in crawl.website.mapurls track by $index" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></pre>
            </div>
          </div>
        </div>
        <div id="pagestab" class="navtabs">
          <div ng-if="ShowPages()" class="row mtop">
            <div ng-repeat="value in crawl.website.pages track by $index" class="col-xs-12 pagesunit">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="serpdata"><a ng-hide="value.title.length &gt; 70" href="{{value.url}}" target="_blank" class="serptit">{{value.displaytitle}}</a><a ng-show="value.title.length &gt; 70" href="{{value.url}}" target="_blank" title="{{value.title}}" class="serptit">{{value.displaytitle}}</a><br><span class="serpurl">{{value.displayurl}}       </span><br><span ng-hide="value.metadescription.length &gt; 155" class="serpdesc">{{value.displaydescription}}               </span><span ng-show="value.metadescription.length &gt; 155" title="{{value.metadescription}}" class="serpdesc">{{value.displaydescription}}               </span><br></div><br>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="socialdata">
                    <div title="{{value.social.fb}} Facebook Likes" class="social fb"><span>{{value.social.fb}}</span></div>
                    <div title="{{value.social.tw}} Tweets" class="social tw"><span>{{value.social.tw}}</span></div>
                    <div title="{{value.social.gp}} Google Plus Ones" class="social gp"><span>{{value.social.gp}}</span></div>
                    <div title="{{value.social.ln}} LinkedIn Shares" class="social ln"><span>{{value.social.ln}}</span></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="row">
                    <div ng-class="value.tscore" class="col-xs-4 col-md-3 listit"><b>Title:</b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.title !== false">{{value.title.length}} characters</span><br ng-show="value.titlemessage !== false &amp;&amp; value.title !== false"><span ng-show="value.titlemessage !== false" class="errormessage">{{value.titlemessage}}</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.dscore" class="col-xs-4 col-md-3 listit"><b>Description:</b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.metadescription !== false">{{value.metadescription.length}} characters</span><br ng-show="value.descriptionmessage !== false &amp;&amp; value.metadescription !== false"><span ng-show="value.descriptionmessage !== false" class="errormessage">{{value.descriptionmessage}} </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.cscore" class="col-xs-4 col-md-3 listit"><b>Canonical:          </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.canonical !== false"><a href="{{value.canonical}}" target="_blank">{{value.canonical}}</a></span><br ng-show="value.canonicalmessage !== false &amp;&amp; value.canonical !== false"><span ng-show="value.canonicalmessage !== false" class="errormessage">{{value.canonicalmessage}}  </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.escore" class="col-xs-4 col-md-3 listit"><b>Encoding:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.encoding !== false">{{value.encoding}}          </span><span ng-show="value.encodingmessage !== false" class="errormessage">{{value.encodingmessage}}     </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.lscore" class="col-xs-4 col-md-3 listit"><b>Language:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.language !== false">{{value.language}}    </span><span ng-show="value.languagemessage !== false" class="errormessage">{{value.languagemessage}}     </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.rscore" class="col-xs-4 col-md-3 listit"><b>Robots:          </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.robots !== false">{{value.robots}}</span><br ng-show="value.robotsmessage !== false &amp;&amp; value.robots !== false"><span ng-show="value.robotsmessage !== false" class="errormessage">{{value.robotsmessage}}</span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.ascore" class="col-xs-4 col-md-3 listit"><b>Author:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.author !== false"><a href="https://plus.google.com/{{value.author}}" target="_blank">{{value.author}}</a></span><span ng-show="value.authormessage !== false" class="errormessage">{{value.authormessage}}  </span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div ng-class="value.pscore" class="col-xs-4 col-md-3 listit"><b>Publisher:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="value.publisher !== false"><a href="https://plus.google.com/{{value.publisher}}" target="_blank">{{value.publisher}}</a></span><span ng-show="value.publishermessage !== false" class="errormessage">{{value.publishermessage}}   </span></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="row">
                    <div ng-class="value.hscore" class="col-xs-4 col-md-3 listit"><b>H1:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="!value.headers.h1.length" class="errormessage">{{value.h1message}}</span><span ng-repeat="value in value.headers.h1 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-md-3 listit"><b>H2:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="!value.headers.h2.length">-</span><span ng-repeat="value in value.headers.h2 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 col-md-3 listit"><b>H3, H4, H5:         </b></div>
                    <div class="col-xs-8 col-md-9">
                      <p><span ng-show="!value.headers.h345.length">-</span><span ng-repeat="value in value.headers.h345 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="imagestab" class="navtabs">
          <div ng-if="ShowImages()" class="row mtop">
            <div class="col-xs-12">
              <div class="row titlerow">
                <div class="col-xs-12 col-md-3"><span>Filename</span></div>
                <div class="col-xs-12 col-md-1"><span>Status</span></div>
                <div class="col-xs-12 col-md-1"><span>Type</span></div>
                <div class="col-xs-12 col-md-2"><span>Title</span></div>
                <div class="col-xs-12 col-md-2"><span>Alt</span></div>
                <div class="col-xs-12 col-md-3"><span>URL</span></div>
              </div>
              <div ng-repeat="value in crawl.website.images track by $index" ng-class="value.score" class="row crawlrow rowpad">
                <div class="col-xs-12 col-md-3 crawl-line crawl-link"><a href="{{value.src}}" title="{{value.src}}" target="_blank">{{value.filename}}</a></div>
                <div class="col-xs-12 col-md-1 crawl-line"><span>{{value.code}}</span></div>
                <div class="col-xs-12 col-md-1 crawl-line"><span title="{{value.type}}">{{value.type}}</span></div>
                <div class="col-xs-12 col-md-2 crawl-line"><span title="{{value.title}}">{{value.title}}</span></div>
                <div class="col-xs-12 col-md-2 crawl-line"><span title="{{value.alt}}">{{value.alt}}</span></div>
                <div class="col-xs-12 col-md-3 crawl-line crawl-link"><a href="{{value.url}}" title="{{value.url}}" target="_blank">{{value.displayurl}}</a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="extlinkstab" class="navtabs">
          <div ng-if="ShowExternal()" class="row mtop">
            <div class="col-xs-12">
              <div class="row titlerow">
                <div class="col-xs-12 col-md-3"><span>HREF</span></div>
                <div class="col-xs-12 col-md-1"><span>Status</span></div>
                <div class="col-xs-12 col-md-8">
                  <div class="row">
                    <div class="col-xs-12 col-md-3"><span>Anchor</span></div>
                    <div class="col-xs-12 col-md-3"><span>Title</span></div>
                    <div class="col-xs-12 col-md-2"><span>REL</span></div>
                    <div class="col-xs-12 col-md-4"><span>URL</span></div>
                  </div>
                </div>
              </div>
              <div ng-repeat="value in crawl.website.external track by $index" class="row crawlrow">
                <div class="col-xs-12 col-md-3">
                  <div ng-class="value.score" class="row rowpad">
                    <div class="col-xs-12 crawl-line crawl-link"><a href="{{value.href}}" title="{{value.href}}" target="_blank">{{value.href}}</a></div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-1">
                  <div ng-class="value.score" class="row rowpad">
                    <div class="col-xs-12 crawl-line"><span>{{value.code}}</span></div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-8 crawl-line">
                  <div ng-repeat="individual in value.data" ng-class="individual.score" class="row rowpad">
                    <div class="col-xs-12 col-md-3 crawl-line"><span title="{{individual.anchor}}">{{individual.anchor}}</span></div>
                    <div class="col-xs-12 col-md-3 crawl-line"><span title="{{individual.title}}">{{individual.title}}</span></div>
                    <div class="col-xs-12 col-md-2 crawl-line"><span>{{individual.rel}}</span></div>
                    <div class="col-xs-12 col-md-4 crawl-line crawl-link"><a href="{{individual.url}}" title="{{individual.url}}" target="_blank">{{individual.displayurl}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="intlinkstab" class="navtabs">
          <div ng-if="ShowInternal()" class="row mtop">
            <div class="col-xs-12">
              <div class="row titlerow">
                <div class="col-xs-12 col-md-3"><span>HREF</span></div>
                <div class="col-xs-12 col-md-1"><span>Status</span></div>
                <div class="col-xs-12 col-md-8">
                  <div class="row">
                    <div class="col-xs-12 col-md-3"><span>Anchor</span></div>
                    <div class="col-xs-12 col-md-3"><span>Title</span></div>
                    <div class="col-xs-12 col-md-2"><span>REL</span></div>
                    <div class="col-xs-12 col-md-4"><span>URL</span></div>
                  </div>
                </div>
              </div>
              <div ng-repeat="value in crawl.website.internal track by $index" class="row crawlrow">
                <div class="col-xs-12 col-md-3">
                  <div ng-class="value.score" class="row rowpad">
                    <div class="col-xs-12 crawl-line crawl-link"><a href="{{value.href}}" title="{{value.href}}" target="_blank">{{value.href}}</a></div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-1">
                  <div ng-class="value.score" class="row rowpad">
                    <div class="col-xs-12 crawl-line"><span>{{value.code}}</span></div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-8 crawl-line">
                  <div ng-repeat="individual in value.data" ng-class="individual.score" class="row rowpad">
                    <div class="col-xs-12 col-md-3 crawl-line"><span title="{{individual.anchor}}">{{individual.anchor}}</span></div>
                    <div class="col-xs-12 col-md-3 crawl-line"><span title="{{individual.title}}">{{individual.title}}</span></div>
                    <div class="col-xs-12 col-md-2 crawl-line"><span>{{individual.rel}}</span></div>
                    <div class="col-xs-12 col-md-4 crawl-line crawl-link"><a href="{{individual.url}}" title="{{individual.url}}" target="_blank">{{individual.displayurl}}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="../resources/js/vendor/underscore.min.js"></script>
    <script src="../resources/js/vendor/jquery.min.js"></script>
    <script src="../resources/js/vendor/bootstrap.min.js"></script>
    <script src="../resources/js/vendor/angular.min.js"></script>
    <script src="../resources/js/vendor/angular-route.min.js"></script>
    <script src="../resources/js/app.js"></script>
  </body>
</html>