<!DOCTYPE html>
<html data-ng-app="myCrawler" data-ng-csp="">
  <head>
    <meta charset="utf-8">
    <title>MetricSpot SEO Crawler</title>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
    <link rel="stylesheet" href="../resources/css/style.css">
  </head>
  <body ng-controller="CrawlerController as crawl">
    <header></header>
    <section>
      <div class="container">
        <div id="header">
          <div class="row mtop">
            <div class="col-xs-12">
              <ul role="tablist" class="nav nav-tabs nav-justified">
                <li id="home" class="active"><a show-tab>Home</a></li>
                <li id="robots" ng-class="{true:'', false:'disabled'}[ShowRobots()]"><a show-tab>Robots</a></li>
                <li id="sitemap" ng-class="{true:'', false:'disabled'}[ShowSitemaps()]"><a show-tab>Sitemap</a></li>
                <li id="pages" ng-class="{true:'', false:'disabled'}[ShowPages()]"><a show-tab>Pages</a></li>
                <li id="images" class="disabled"><a show-tab>Images</a></li>
                <li id="links" class="disabled"><a show-tab>Links</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="hometab" style="display:block" class="navtabs">
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div class="input-group"><span class="input-group-btn">
                  <button type="button" disabled id="protocol" class="btn btn-default dropdown-toggle">{{crawl.website.protocol}}</button>
                  <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a ng-click="SelectProtocol('http://')" class="protocol-select">http://</a></li>
                    <li><a ng-click="SelectProtocol('https://')" class="protocol-select">https://</a></li>
                  </ul></span>
                <input type="text" placeholder="www.example.com" ng-model="crawl.website.hostname" ng-keyup="CheckUrl()" class="form-control"><span class="input-group-btn">
                  <button type="button" ng-disabled="crawl.website.invalidurl" ng-class="{'disabled': crawl.website.invalidurl}" ng-click="DoCrawl()" class="btn btn-default btn-primary">Analizar      </button></span>
              </div>
            </div>
          </div>
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <p>{{crawl.website.robotsurl}}</p>
            </div>
          </div>
          <div class="row mtop">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <p><span ng-repeat="value in crawl.website.sitemaps track by $index" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></p>
            </div>
          </div>
        </div>
        <div id="robotstab" class="navtabs">
          <div ng-if="ShowRobots()" class="row mtop">
            <div class="col-xs-12">
              <p>{{crawl.website.robotsurl}}</p>
            </div>
          </div>
          <div ng-if="ShowRobots()" class="row">
            <div class="col-xs-12">
              <pre><span ng-repeat="value in crawl.website.robotstxt track by $index" ng-class="CodeComment(value)" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></pre>
            </div>
          </div>
        </div>
        <div id="sitemaptab" class="navtabs">
          <div ng-if="ShowSitemaps()" class="row mtop">
            <div class="col-xs-12">
              <p><span ng-repeat="value in crawl.website.sitemaps track by $index" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></p>
            </div>
          </div>
          <div ng-if="ShowSitemaps()" class="row">
            <div class="col-xs-12">
              <pre><span ng-repeat="value in crawl.website.urls track by $index" class="nomar">{{value}}<span ng-show=" ! $last "><br></span></span></pre>
            </div>
          </div>
        </div>
        <div id="pagestab" class="navtabs">
          <div ng-if="ShowPages()" class="row mtop">
            <div ng-repeat="value in crawl.website.pages track by $index" class="col-xs-12 pagesunit">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <div class="serpdata"><a href="{{value.url}}" target="_blank" class="serptit">{{value.title}}</a><br><span class="serpurl">{{value.displayurl}}       </span><br><span class="serpdesc">{{value.metadescription}}               </span><br></div><br>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 col-md-2">
                  <p>Canonical:          </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.canonical}}</p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>Author:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.author}}    </p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>Publisher:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.publisher}}       </p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>Encoding:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.encoding}}          </p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>Language:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.language}}          </p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>Desc. Count:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p>{{value.descriptioncount}}               </p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>H1:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p><span ng-show="!value.headers.h1.length">-</span><span ng-repeat="value in value.headers.h1 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>H2:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p><span ng-show="!value.headers.h2.length">-</span><span ng-repeat="value in value.headers.h2 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                </div>
                <div class="col-xs-4 col-md-2">
                  <p>H3, H4 & H5:         </p>
                </div>
                <div class="col-xs-8 col-md-10">
                  <p><span ng-show="!value.headers.h345.length">-</span><span ng-repeat="value in value.headers.h345 track by $index">{{value}}<br ng-show=" ! $last "></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="../resources/js/vendor/jquery.min.js"></script>
    <script src="../resources/js/vendor/bootstrap.min.js"></script>
    <script src="../resources/js/vendor/angular.min.js"></script>
    <script src="../resources/js/vendor/angular-route.min.js"></script>
    <script src="../resources/js/app.js"></script>
  </body>
</html>